@import 'grid12';

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

td {
  padding: 30px;
  background-color: #e2e2e2;
  &:hover {
    cursor: pointer;
    background-color: #d2d2d2;
    transition: .2s ease-in-out;
  }
}

#monthTable {
  margin: 0 auto;
}

#monthView {
  margin-top: 30px;
  th {
    padding: 10px;
    background-color: #c2c2c2;
    cursor: default;
  }
  td {
    opacity: 0;
    padding: 25px;
    background-color: #e2e2e2;
    transition: opacity .5s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: #d2d2d2;
      transition: .2s ease-in-out;
    }
  }
}

.onHover {
  background-color: #d2d2d2;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  li {
    cursor: pointer;
    background-color: #e2e2e2;
    display: inline-block;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
    &:hover {
      background-color: #d2d2d2;
    }
  }
}