@import 'grid12';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
  font-family: 'Montserrat', sans-serif;
}

.onHover {
  background-color: #d2d2d2;
}

.container {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

td {
  padding: 30px;
  background-color: #e2e2e2;
  &:hover {
    cursor: pointer;
    background-color: #d2d2d2;
    transition: .2s ease-in-out;
  }
}

#monthTable {
  margin: 0 auto;
}

#monthView {
  margin: 0 auto;
  th {
    padding: 10px;
    background-color: #b1b1b1;
    cursor: default;
  }
  td {
    opacity: 0;
    padding: 25px;
    transition: opacity .5s ease-in-out;
    &:hover {
      background-color: #eee;
      transition: .2s ease-in-out;
    }
  }
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  li {
    cursor: pointer;
    background-color: #e2e2e2;
    display: inline-block;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
    &:hover {
      background-color: #d2d2d2;
    }
  }
}

@media only screen and (min-width: 992px) {
  #right-container {
    float: left;
  }
  
  #left-container {
    float: right;
  }

  #vl {
    height: 500px;
    width: 1px;
    padding: 0;
    background-color: #888;
  }
}